.login{
    display: block;
 margin-top: 100px;
 margin-left: 400px;
 color:white;
}

.login h3{
    align-items:center;
    margin-left: 50px;
}

.loginform{
    margin-top: 30px;
}

.loginform label{
    margin-right: 30px;
    margin-top: 18px;
    align-items: center;
}


.loginform input{
    align-items: center;
    width: 200px;
}

.loginform :last-child{
    margin-top:20px;
    width: 300px;
    height: 35px;
}

.google-signin{
    margin-top: 35px;
    width: 45%;
    background-color: rgb(9, 15, 19);
    color:white;
    border: 0;
    /* border:1px solid white; */
}

.signuplink{
    margin-top:30px;
}



